@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@396&display=swap');
body{
    background-color: rgb(255, 255, 255);
}


.img-planta{
    width: 100%;
}
.cinza{
    background-color: lightgray;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;

}

header{
    background-image: url(Capturar.png);
    background-size: 100% 100%;
    height: 277px;
}

@media screen and (min-width: 1024px){
    .img-planta{
        width: 50%;
    }  

    .posicao{
        display: grid;
        grid-template-columns: 41% 18% 41%;
        text-align: center;
    }
 .cinza-nao{
    background-color: lightgray;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
 }
 
}

.TIT{
    font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 396;
  font-style: normal;
}

.verde{
    color: greenyellow;
}

.verde{
    text-align: center;
    margin: 25px;
}