body{
    background-color: rgb(255, 255, 255);
}


.img-planta{
    width: 100%;
}
.cinza{
    background-color: lightgray;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;

}


@media screen and (min-width: 1024px){
    .img-planta{
        width: 70%;
    }  

    .posicao{
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
    }
}

