body{
    background-color: green;
}


.img-planta{
    width: 100%;
}
.cinza{
    background-color: gray;
    padding: 12px;
    margin: 12px;

}


@media screen and (min-width: 1024px){
    .img-planta{
        width: 50%;
    }  

    .posicao{
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
    }
}

